<%- include('./partials/header.ejs') %>
<h1>Home</h1>
<p><%= start %> </p>
<div class="box">
    <% posts.forEach(post => {%>
    <% if (post.name.length > 15) { name = post.name.substring(0, 15) + "..." } else ( name = post.name) %>
    <form>
        <div class="form-group">
            <h1><%= name  %> <h1>
        </div>
        <div class="form-group">
            <% if (post.blog.length > 100) { %>
                <% { blog = post.blog.substring(0, 100)};%>
                <p><%= blog %> <a href="/posts/<%=(post.id)%>">Read more</a> </p>
                <% } else {%>
                    <p><%= post.blog %> </p>
            <% } %>
        </div>
    </form>
    <% }); %>
</div>
<!-- <%- include('./partials/footer.ejs') %> -->